.banner {
  height: 90vh;
  overflow: hidden;
  img {
    width: 100vw;
  }
  .blurring {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1a202c, transparent);
  }
  .content {
    position: absolute;
    top: 60vh;
    margin-left: 50px;
    max-width: 700px;
    color: #fff;
    display: flex;
    flex-direction: column;
    .overview {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
    }
    .ratingAndView {
      width: 200px;
      display: flex;
      justify-content: space-between;
    }
    .detail {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      width: fit-content;
      border-radius: 10px;
      transition: 0.3s;
      background-color: rgb(79, 77, 72);
      cursor: pointer;
      &:hover {
        background: linear-gradient(to right, #ff0000, rgb(255, 144, 54));
      }
    }
  }
}
