@import "../../stylesStore/breakpoints.scss";

.detailPage {
  position: relative;
  max-width: 100%;
  .divider {
    width: 100%;
    border-bottom: 1.5px solid grey;
    margin: 10px 0;
  }

  .banner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    .imgBanner {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: relative;
        width: 100%;
        height: 300px;
        object-fit: cover;
        @include mm {
          height: 62vh;
        }
      }
      .blurring {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #1a202c, transparent);
      }
    }
  }

  .avatar {
    position: absolute;
    top: 7%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    img {
      width: 250px;
      height: 370px;
      border-radius: 10px;
      object-fit: cover;
    }

    button {
      cursor: pointer;
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      border-radius: 7px;
      transition: 0.3s;
      &:hover {
        background-color: aqua;
      }
    }

    @include mm {
      position: absolute;
      margin: 0;
      width: 100%;
      top: 12vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 250px;
        height: 310px;
      }
      button {
        width: 250px;
      }
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: calc(2vw + 250px + 50px);
    padding-right: 30px;
    z-index: 0;
    @include mm {
      top: 0vh;
      width: 100%;
      padding: 15px 30px;
    }
    p {
      color: gray;
    }
    span {
      color: #fff;
    }
    .line {
      color: gray;
      margin: 0 7px;
    }
    .rating {
      display: flex;
    }

    .overview {
      .status {
        display: flex;
      }
    }

    .cast {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .actor {
        width: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 7px 7px 7px;

        img {
          width: 96px;
          height: 96px;
          border-radius: 50%;
          object-fit: cover;
        }
        p {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
  .similar {
    margin: 15px 30px;
    .similarCarousel {
      margin-bottom: 20px;
    }
  }
}
