@import "../../stylesStore/breakpoints.scss";
.explorePage {
  position: relative;
  width: 100%;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 30px 30px 30px;
    @include mm {
      padding: 10vh 10px 30px 10px;
    }
    .capitalize {
      font-size: 30px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    .grid {
      position: relative;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .exploreCard {
        position: relative;
        width: 20%;
        padding: 10px 10px;

        @include lg {
          width: 30%;
        }
        @include mm {
          width: 50%;
        }
      }
    }
    .pagination {
      position: relative;
      margin-top: 15px;
      width: 30vw;
    }
  }
}
