@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./stylesStore/variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  // background-color: $background2;
  background-color: #fff;
  // background-color: rgb(23, 23, 23);
  background-color: #1a202c;
}
